{% liquid
  assign section_title = section.settings.section_title
  assign section_image = section.settings.image
  assign title = section.settings.title
  assign sub_text = section.settings.sub_text
  assign reverseImg = section.settings.reverse
%}

<section class="container my-5 py-5">
  <h2 class="fs-2 fw-bold text-center mb-5">{{ section_title | escape }}</h2>
  <div class="card mb-3 w-100 border-0">
    <div
      {% if reverseImg %}
      style="flex-direction: row-reverse;"
      {% endif %}
      class="row g-2">
      <div class="col-md-6">
        {% if section_image %}
          <img
            src="{{ section_image |  image_url: width: 1000 }}"
            width="100%"
            height="100%"
            class="img-fluid rounded object-fit-cover"
            alt="image">
        {% else %}
          <img
            src="https://www.eclosio.ong/wp-content/uploads/2018/08/default.png"
            width="100%"
            height="100%"
            class="img-fluid rounded object-fit-cover"
            alt="image">
        {% endif %}
      </div>
      <div class="col-md-6">
        <div
          {% if reverseImg %}
          class="card-body text-end"
          {% else %}
          class="card-body"
          {% endif %}>
          <h5 class="card-title">{{ title | escape }}</h5>
          <p class="card-text">{{ sub_text }}</p>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "Feature Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select an image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Your title here"
      },
      {
        "type": "richtext",
        "id": "sub_text",
        "label": "Sub text",
        "default": "<p>Start writing from here</p>"
      },
      {
        "type": "checkbox",
        "id": "reverse",
        "label": "Image on right",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}