.slider_overlay {
  position: relative;
}

.slider_overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000009a;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
